## The displayMenu macro (at the bottom of this template) is defined in
## struts-menu.jar!/net/sf/displayer/globalMacros.vm. It has a callback to the #menuItem macro
## you see below. You can override this macro by creating a menuMacros.vm template
## at the root of your classpath

#macro( menuItem $menu $level )
  ## set title
  #set ($title = $displayer.getMessage($menu.title))
  #set ($node = $menu.name)
  #if ($level == 0)
    var $node = new WebFXTree('$title'#if($menu.url),'$!menu.url'#end);
  #else
    var $node = new WebFXTreeItem('$title');
	${node}.action="javascript:father_location('mainFrame'#if($menu.url),'$!menu.url'#end,'$title')";
    ${menu.parent.name}.add($node);
  #end
#end

#displayMenu($menu 0)
${menu.name}.action='javascript:${menu.name}.toggle()';
document.write($menu.name);