html, body {height: 100%;}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #000000;font-family: Arial,Helvetica,sans-serif;}
ol, ul {list-style: none outside none;}
a:link, a:visited {color: #656D77;text-decoration: none;}
img {border: medium none;}
a img {border: medium none;border-collapse: collapse;}
.clear {clear: both;}
.left {float: left;}
.right {float: right;}
.wrapper {margin: 0 auto;width: 960px;}

body {background-color: #E6EAE4;color: #666666;font: 400 12px/150% Tahoma,Helvetica,Arial,sans-serif;height: auto !important;}
body {font-size: 12px;margin: 0;padding: 0;}


.mT5 {margin-top: 5px;}
/*frame*/

.dedetoolbar {background: url("../images/top_bg.jpg") repeat-x scroll 0 0 transparent;height: 30px;line-height: 30px;width: 100%;}
.dedetoolbar .commtopNav {line-height: 31px;margin: 0 auto;overflow: hidden;width: 960px;}
.dedetoolbar .commtopNav .commtopNav_right {float: right;overflow: hidden;}
.dedetoolbar .commtopNav .commtopNav_right .webfx-menu-bar {color: #0B65A7;float: right;height: 22px;margin-top: 4px;overflow: hidden;text-align: right;width: 570px;}
.dedetoolbar .commtopNav .commtopNav_right .webfx-menu-bar span {background: url("../images/line1.gif") no-repeat scroll left center transparent;display: inline-block;height: 22px;overflow: hidden;padding-left: 4px;text-align: center;width: 91px;}
.dedetoolbar .commtopNav .commtopNav_right .webfx-menu-bar span a {color: #0B65A7;display: block;height: 22px;line-height: 22px;text-decoration: none;width: 86px;}
.dedetoolbar .commtopNav .commtopNav_right .webfx-menu-bar span a img {margin-top: 2px;}
#topleft ul li {float: left;margin-left: 5px;margin-right: 5px;}
.time {background: url("../images/time.gif") no-repeat scroll left center transparent;padding: 0 10px 0 20px;}
.login {background: url("../images/login.gif") no-repeat scroll left center transparent;padding: 0 0 0 20px;}
#header {background: url("../images/top_bg.gif") no-repeat scroll left top transparent;height: 75px;text-align: right;}
#header #logo {float: left;padding: 15px 0 0 15px;}
#header #logo h1 a {display: block;height: 43px;overflow: hidden;text-indent: -9999px;width: 249px;}
.buttonico {margin-right: 3px;vertical-align: text-bottom;}
.expand {font-size: 14px;padding-right: 18px;padding-top: 25px;}
#search {float: right;height: 24px;overflow: hidden;padding-bottom: 14px;text-align: center;}
#search .s_text {background: url("../images/bg_serch_text.png") repeat scroll 0 0 transparent;border: 0 none;color: #666666;height: 20px;overflow: hidden;padding: 4px 0 0 4px;vertical-align: middle;width: 150px;}
.btn1 {background: url("../images/search_button.gif") no-repeat scroll 0 0 transparent;border: 0 none;color: #FFFFFF;height: 22px;line-height: 22px;vertical-align: bottom;width: 40px;}
#navbar {background: url("../images/nav_left.gif") no-repeat scroll 0 0 transparent;height: 45px;padding-left: 4px;width: 956px;}
#navbar_right {background: url("../images/nav_right.gif") no-repeat scroll right top transparent;padding-right: 4px;}
#menu {background: url("../images/menu_background.jpg") repeat-x scroll 0 0 transparent;height: 45px;overflow: hidden;}
#menu ul {border: 0 none;line-height: 150%;list-style: none outside none;margin: 0 0 0 15px;padding: 0;}
#nav li {float: left;height: 35px;}
#nav li a {-moz-background-inline-policy: continuous;cursor: pointer;display: block;float: left;height: 43px;padding-left: 5px;text-decoration: none;}
#nav li a span {-moz-background-inline-policy: continuous;color: #FFFFFF;float: left;font-size: 14px;line-height: 16px;padding: 12px 14px 10px 10px;text-decoration: none;}
#nav .menu_line {background: url("../images/nav_line.gif") no-repeat scroll 0 0 transparent;margin: 8px 3px 0;width: 3px;}


#footer {margin: 5px auto;padding-bottom: 10px;}
#footer_c {padding: 15px 20px;text-align: left;}
#footer_c #footer_text {float: left;margin-left: 50px;}
#footer_c #footer_text a {color: #0B66A8;margin-left: 5px;margin-right: 5px;}

/*index*/

.postlist {float: left;width: 294px;margin-right: 5px;}
.hotpost {float: left;width: 385px;}
.comfaq {float: right;width: 270px;}
.bigDiv {float: left;width: 684px;}

.bg_top {background: url("../images/u_top.gif") no-repeat scroll left center transparent;font-size: 0;height: 4px;padding-left: 3px;position: relative;}
.bg_top .bg_top_r {background: url("../images/u_top_right.gif") no-repeat scroll right center transparent;height: 4px;}

.bg_buttom {background: url("../images/title_buttom_left.gif") no-repeat scroll left top transparent;font-size: 0;height: 6px;line-height: 0;padding: 0 0 0 3px;}
.bg_buttom .bg_buttom_r {background: url("../images/title_buttom_right.gif") no-repeat scroll right center transparent;height: 6px;}


.titlel1 {background: url("../images/utitle_left.gif") no-repeat scroll 0 0 transparent;height: 33px;padding-left: 4px;}
.titlel1 .titler1 {background: url("../images/utitle_right.gif") no-repeat scroll right 0 transparent;height: 33px;padding-right: 5px;}
.titlel1 .title {background: url("../images/title_background.gif") repeat-x scroll 0 0 transparent;height: 33px;line-height: 33px;text-align: center;}
.titlel1 .title .title_t {background: url("../images/utitle_i_left.gif") no-repeat scroll 0 0 transparent;height: 33px !important;margin-left: 10px;margin-top: 5px;padding-left: 4px;}
.titlel1 .title .title_t .title_t_i {background: url("../images/u_titlei_right.gif") no-repeat scroll right top transparent;padding-right: 6px;}
.titlel1 .title .title_t .center {background-color: #7DB92C;color: #FFFFFF;display: inline;font-size: 14px;font-weight: normal;height: 22px;line-height: 22px;padding-bottom: 3px;padding-left: 2px;padding-top: 3px !important;}
.titlel1 .title .title_t .center a {color: #FFFFFF;}
.titlel1 .title .iterm {padding-right: 10px;}
.titlel1 .title .iterm ul li {float: left;height: 33px !important;margin-left: 5px;padding-left: 4px;padding-right: 5px;text-align: center;}
.titlel1, .titler1, .title, .iterm ul a {color: #0B66A8;}

.list_div1 {background: none repeat scroll 0 0 #FFFFFF;padding-top: 4px;width: 270px;}
.list_div2 {background: none repeat scroll 0 0 #FFFFFF;padding-top: 4px;width: 290px;}
.fcontent {background: url("../images/content_right_bg.gif") repeat-y scroll right 0 #FFFFFF;}

.list-post {clear: both;height: 234px;min-height: 234px;padding-bottom: 10px !important;padding-left: 15px;padding-right: 10px;}
.list-post ul li {background: url("../images/list_ico.gif") no-repeat scroll left center transparent;line-height: 24px;padding-left: 15px;}

.top10 {background: url("../images/top10.gif") no-repeat scroll 0 7px transparent;clear: both;height: 235px;margin-left: 10px;min-height: 235px;overflow: hidden;text-align: left;width: 255px;}
.top10 ul li {height: 26px;line-height: 26px;overflow: hidden;padding-left: 25px;text-overflow: ellipsis;white-space: nowrap;width: 250px;}

.hot ul {margin: 6px auto;width: 280px;}
.hot ul li {background: url("../images/new_ico.gif") no-repeat scroll left center transparent;margin-left:10px; height: 26px;line-height: 26px;overflow: hidden;padding-left: 24px;text-overflow: ellipsis;white-space: nowrap;width: 279px;}


.bg_top .new{left: 0;position: absolute;top: 0;width: 43px;height: 36px;background: url("../images/news.gif") no-repeat scroll 0 0 transparent;}

.hot {height: 235px;min-height: 235px;overflow: hidden;width: 275px;}
.hot .hot_title {font-weight: bold;line-height: 20px;margin-left: 30px;}
.hot .hot_title a {color: #71AF02;font-size: 14px;}
.hot .hot_line {border-top: 1px dashed #CCCCCC;height: 1px;margin: 0 auto;overflow: hidden;width: 98%;}
.hot .hot_summary {height: 35px;line-height: 18px;margin: 6px 10px;overflow: hidden;text-indent: 2em;text-overflow: ellipsis;width: 260px;}



.status {background: url("../images/news_left.gif") no-repeat scroll 0 0 transparent;height: 37px;padding-left: 5px;width: 955px;}
.status .newtitle {float:left;background: url("../images/news_title_bg.gif") repeat-x scroll 0 0 transparent;border-right: 1px solid #E7E8E6;height: 37px;line-height: 37px;text-align: center;width: 100px;}
.status .news {float:left;background: url("../images/news_background.gif") repeat-x scroll 0 0 transparent;height: 37px;line-height: 37px;padding-left: 20px;width: 828px;}
.status .news ul li {background: url("../images/newsli.gif") no-repeat scroll left center transparent;float: left;list-style-position: inside;list-style-type: none;margin-right: 20px;padding-left: 13px;}
.status .newright {float:right; background: url("../images/news_right.gif") no-repeat scroll 0 0 transparent;height: 37px;width: 6px;}

.portfolio {clear: both;display: block;min-height: 200px;padding-bottom: 6px;width: 680px;}
.portfolio .card {background-color: #eeeeee;border: 1px solid #dddddd;display: inline;float: left;margin: 13px 0 0 13px;padding: 4px;text-align: left;width: 200px;}
.portfolio .thumb {background: url("../images/jiaz.gif") no-repeat scroll center center transparent;height: 150px;width: 200px;}
.portfolio .title {padding: 8px 0;text-align: center;}
.portfolio .title a {font-size: 12px;font-weight: 700;height: 16px;line-height: 16px;text-align: center;width: 200px;}
.portfolio .author {background: url("../images/icon14.author.gif") no-repeat scroll left top transparent;padding-left: 18px;}

.fcontent p {margin-bottom: 15px;}



/*detail*/
.detail {padding: 10px 20px 15px;}
.detail h1 {color: #363737;font-size: 16px;font-weight: bold;margin: 0;padding: 5px 0;text-align: center;}
.detail .times {border-top: 1px dashed #E0E0E0;margin-top: 10px;padding-bottom: 10px;padding-top: 10px;text-align: center;}
.detail .content {color: #2A2A2A;font-size: 14px;line-height: 25px;margin: 15px 0 35px;}
.detail .linkes {border-top: 1px dashed #E0E0E0;padding-bottom: 10px;padding-top: 10px;}
.detail .linkes li {float: left;width: 50%;overflow: hidden; white-space: nowrap;}
/*item*/
.l_left {float: right;width: 684px;}
.l_right {float: left;width: 270px;}
.position {padding-left: 20px;}

.stitle {background: url("../images/otitle_top.gif") no-repeat scroll 0 0 transparent;color: #FFFFFF;font-size: 14px;font-weight: bold;height: 37px;padding-left: 25px;padding-top: 10px;width: 245px;}
.scontent {background-image: url("../images/ocontent_bg.gif");background-repeat: repeat-y;width: 270px;}
.scontent .sliterm {padding-left: 15px;width: 245px;}
.stitle_buttom {background: url("../images/obuttom_bg.gif") no-repeat scroll 0 0 transparent;height: 30px;width: 270px;}

.feedme {background: url("../images/fls.jpg") no-repeat scroll left top transparent;display: block;height: 119px;margin-bottom: 3px;text-indent: -9999em;width: 243px;}

.item_list1 {background: none repeat scroll 0 0 #ffffff;padding: 20px;width: 640px;}
.item_list1 .list {border-bottom: 1px dashed #999999;margin-bottom: 10px;padding-bottom: 10px;}
.item_list1 .list .title a {color: #618d06;font-size: 14px;font-weight: bold;}
.item_list1 .list .info {float: right;line-height: 22px;}

.pagelist {margin: 0 auto;width: 600px;color: #656565;padding: 15px 13px 15px 10px;text-align: right;}
.pagelist span.pages {font-weight: bold;height: 16px;line-height: 16px;float:left; background-color: #B2E05D;border: 1px solid #D9D9D9;color: #FFFFFF;display: inline;margin: 0 3px;padding: 2px 5px;}
.pagelist .current {-moz-background-inline-policy: continuous;background: none repeat scroll 0 0 #B2E05D;border: 1px solid #FF831E;color: #000000;display: inline;margin: 0 3px;padding: 2px 5px;}
.pagelist a:link {border: 1px solid #D9D9D9;color: #001A9F;display: inline;margin: 0 3px;padding: 2px 5px;}


/*loop*/
#index_loop1 {font-size: 12px;height: 239px;margin: 0 auto;padding: 0;width: 370px;}
.focus_d2 {height: 215px;overflow: hidden;width: 100%;}
.img_bottom {background: none repeat scroll 0 0 #F1FCDC;bottom: 0;color: #FFFFFF;height: 14px;left: 0;overflow: hidden;padding: 3px 0;position: absolute;width: 100%;}
.button_list {bottom: 2px;position: absolute;right: 0;z-index: 1000;}
.button_list li {float: left;}
.button_list a, a_hover {background: none repeat scroll 0 0 #666666;color: #EEEEEE;cursor: pointer;display: block;float: left;margin-right: 1px;padding: 0 5px;text-decoration: none;}
.focus_d1 {background: none repeat scroll 0 0 #FFFFFF;height: auto;overflow: hidden;position: relative;width: 100%;}
