/bin
/target

/src/main/webapp/p/upload
a1.txt
a2.txt
content.txt
/doc/readme.txt
/src/main/webapp/p/common/template11/upload
/src/main/webapp/p/common/template10/upload
/src/test/java/com/galebo/lowyer/index